@keyframes grow-shrink {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .animate-grow-shrink {
    animation: grow-shrink 0.9s ease-in-out infinite;
    transform-origin: center;
  }